temps
.ipynb_checkpoints
docs/build/
docs/site/
.DS_Store
*Manifest.toml
*-example/
*.mem
*.swp
*.vts
*.vtk
*.vtu
*.vtp
*.vtm
*.bson
*.xmf
*.h5
*.pvd

examples/rotornoise/singlerotor-*
docs/resources/images/sponsors/*.png
docs/src/assets/images/sponsors/*.png
