temps
.ipynb_checkpoints
docs/build/
docs/site/
.DS_Store
*Manifest.toml
*-example/
*.h5
*.bson
*.xmf
*.vts
*.vtp
*.vtm
*.pvd

examples/rotornoise/singlerotor-*
docs/resources/images/sponsors/*.png
docs/src/assets/images/sponsors/*.png
