name = "FLOWUnsteady"
uuid = "b491798d-ac6e-455f-a27c-49c10bb0a666"
authors = ["Eduardo J. Alvarez <Edo.AlvarezR@gmail.com> and contributors"]
version = "3.3.2"

[deps]
PyPlot = "d330b81b-6aea-500a-939a-2ce795aea3ee"
Dierckx = "39dd38d3-220a-591b-8e3c-4c3a8c710a94"
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
JLD = "4138dd39-2aa7-5051-a626-17a0bb65d9c8"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
GeometricTools = "83792f5e-c6a1-11e8-2e0a-93511f02ae5f"
FLOWVPM = "6e19019d-7c31-4940-9d16-c3f15dfe6020"
FLOWVLM = "1a3ff0be-0410-4572-aa62-b496bdd1f33b"
FLOWNoise = "d27480ee-285d-533b-ae3d-5018956ae0bc"
BPM = "f91b385c-3ede-44c9-92c8-2a04f762ef2f"
VSPGeom = "9b3f6a95-fce2-4bc5-94a2-f99b39986ea6"

[compat]
julia = "1.6"
GeometricTools = "2.2"
FLOWVPM = "3.0"
FLOWVLM = "2.1.3"
FLOWNoise = "2.3.3"
BPM = "2.0.1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
FLOWVPM = "6e19019d-7c31-4940-9d16-c3f15dfe6020"

[targets]
test = ["Test", "Printf", "FLOWVPM"]
